<p>transfer-slip works!</p>

<p-table [value]="transferslip" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>idline</th>
            <th>codeitem</th>
            <th>nameitem</th>
            <th>nameunit</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>{{customer.name}}</td>
            <td>{{customer.codeitem}}</td>
            <td>{{customer.nameitem}}</td>
            <td>{{customer.nameunit}}</td>
        </tr>
    </ng-template>
</p-table>