
<h1>App Main</h1>

<!-- <p-menubar [model]="items"></p-menubar> -->
<p-menubar [model]="items">
  <div>
      <input type="text" pInputText placeholder="Search">
      <button pButton label="Logout" icon="fa fa-sign-out" style="margin-left:.25em"></button>
  </div>
</p-menubar>

<!-- <p-button label="Click" ></p-button> -->
<nav>
  <ul>
    <li><a routerLink="/restaurent" routerLinkActive="active" >restaurent</a></li>
    <li><a routerLink="/role" routerLinkActive="active" >role</a></li>
    <li><a routerLink="/transfer-slip" routerLinkActive="active" >transfer-slip</a></li>
  </ul>
</nav>


<router-outlet></router-outlet>