<p>restaurant works!</p>

<button pButton type="button" label="Get syssetting" (click)="GetSysSetting()" ></button>
<div style="height: 5px;"></div>


<div class="card">
    <h5>Filter Menu</h5>
    
<p-table [value]="UserData" [tableStyle]="{'min-width': '50rem'}" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Quantity</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-SelectedItem>
        <tr>
            <td>{{SelectedItem.idline}}</td>
            <td>{{SelectedItem.code}}</td>
            <td>{{SelectedItem.name}}</td>
            <td>{{SelectedItem.code}}</td>
            <td>{{SelectedItem.name}}</td>
        </tr>
    </ng-template>
</p-table>
</div>


